#image-gallery-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -171px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .7);
    background: white;
}

#image-gallery {
    width: 512px;
    height: 342px;
}